/* CSS declarations go here */
.thumbnail {
	height:400px;
	word-wrap:break-word;
}

.thumbnail-img{
	height:120px !important;
}

.login-link-text{
	text-decoration: none !important;
}


.single-img{
	max-width:100%;
}

body{
	padding-top:60px;
}
