/* CSS declarations go here */
.thumbnail {
	height:500px;
	word-wrap:break-word;
}

.thumbnail-img{
	max-height:200px;
}

.login-link-text{
	text-decoration: none !important;
}

body{
	padding-top:60px;
}
